html {
    font-family: 'DM Mono', monospace;
}

/*make the main centered*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: 2em;
    display: flex;
    flex-direction: column;
    max-width: 100ch;
}

a {
    color: blue
}

a:visited {
    color: blue
}

#name {
    font-size: 3em;
    text-decoration: underline;
}

li {
    margin-bottom: 1em;
}

li li {
    margin-bottom: 0;
}

#links li {
    margin-bottom: 0;
}

small {
    width: 100%;
    text-align: right;
}