html {
    font-family: 'DM Mono', monospace;
}

main {
    margin: 2em;
}

a {
    color: blue
}

a:visited {
    color: blue
}

#name {
    font-size: 3em;
    text-decoration: underline;
}

li {
    margin-bottom: 1em;
}

li li {
    margin-bottom: 0;
}

#links li {
    margin-bottom: 0;
}